vim/bundle/**
vim/spell/**
!vim/vundle
!vim/bundle/neobundle.vim
vim/bundle/.neobundle/
vim/undos/*
!vim/undos/.gitkeep
vim/.netrwhist
tmux/.tmux/plugins/*
!tmux/.tmux/plugins/tpm
tmux/.tmux/resurrect
tmux/.tmux/sidebar
tags
Session.vim
nvim/plugged/*
nvim/.netrwhist
nvim/.init.vim-rplugin~
nvim/undos/
tmux/.tmux/*.log
run.log
*.pyc


nvim/autoload/plug\.vim
